<IfModule mod_rewrite.c>
    RewriteEngine On

	RewriteRule ^$ web/index.php?index
	RewriteRule ^index$ web/index.php?index

	RewriteRule ^([a-z0-9_-]+)$ web/ucp.php?mode=$1

	RewriteRule ^forum/([0-9]+)$ web/app.php?forum=$1
</IfModule>